//
//  Debug.xcconfig
//  OCFlutter
//
//  Created by 李闯 on 2020/4/1.
//  Copyright © 2020 李闯. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Flutter.xcconfig"
#include "Pods/Target Support Files/Pods-OCFlutter/Pods-OCFlutter.debug.xcconfig"
